/ARINC653_ARMV7A_Z7000.cache
/ARINC653_ARMV7A_Z7000.hw
/ARINC653_ARMV7A_Z7000.ip_user_files
/ARINC653_ARMV7A_Z7000.runs
/ARINC653_ARMV7A_Z7000.srcs
/ARINC653_ARMV7A_Z7000.sw/.metadata
/ARINC653_ARMV7A_Z7000.sw/ARINC653_ARMV7A_Z7000/Debug
/ARINC653_ARMV7A_Z7000.sw/ARINC653_ARMV7A_Z7000_bsp/ps7_cortexa9_0/lib/*.a
/ARINC653_ARMV7A_Z7000.sw/ARINC653_ARMV7A_Z7000_bsp/ps7_cortexa9_0/libsrc/standalone_v6_8/src/*.o
/ARINC653_ARMV7A_Z7000.sw/MEASURE/Debug
/ARINC653_ARMV7A_Z7000.sw/MEASURE_bsp/ps7_cortexa9_0/lib/*.a
/ARINC653_ARMV7A_Z7000.sw/MEASURE_bsp/ps7_cortexa9_0/libsrc/standalone_v6_8/src/*.o
/ARINC653_ARMV7A_Z7000.sw/fsbl
/ARINC653_ARMV7A_Z7000.sw/fsbl_bsp
/ARINC653_ARMV7A_Z7000.sw/system_wrapper_hw_platform_0
/ARINC653_ARMV7A_Z7000.sw/*.log
/ARINC653_ARMV7A_Z7000.sw/*.hdf
/*.bif
/*.log
/*.jou
/*.xpr
